/*-- scss:defaults --*/

$primary: #0A5063 !default;
$font-size-root: 18px !default;
$border-color: #ccc;

/*-- scss:rules --*/

.sidebar-title {
  color: #0A5063;
}

div.sidebar-item-container .active {
  font-weight: bold;
}

.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active{
  font-weight: bold;
}

img.quarto-cover-image {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

/* Headings ------------------------------------------------------ */

#title-block-header.quarto-title-block.default .quarto-title h1.title {
  margin-bottom: 0.5rem;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
}
h3 { margin-top: 1.5em; font-size: 1.2rem; font-weight: 500; }
h4 { margin-top: 1.5em; font-size: 1.1rem; }
h5 { margin-top: 1.5em; font-size: 1rem; }

.quarto-section-identifier {
  color: #ccc;
  font-weight: normal;
}

/* Darkly theme code block modifications */
code {
  color: #d1d1d1; /* Light gray text for better readability on dark */
}

code a:any-link {
  text-decoration: underline;
  text-decoration-color: #75aadb; /* Darkly link color */
  color: #75aadb;
}

pre {
  /* Dark grey gradient background */
  background-image: linear-gradient(160deg, #2a2a2a 0, #1f1f1f 100%);
  border: 1px solid #373a3c;
  color: #ccc;
}

/* Reference Spacing ----------------------------------- */
div.csl-entry {
  margin-bottom: 0.5em; /* Adjust this value (e.g., 0.1em, 1em) */
}